{% extends "base.html" %}

{% block meta %}
<meta name="author" content="{{ article.author.name }}" />
<meta name="description" content="{{ article.summary|striptags }}" />
<meta name="keywords" content="{{ article.tags|join(', ') }}">
{% include "partial/og_article.html" %}
{% endblock %}

{% block title %} &ndash; {{ article.title|striptags }}{% endblock %}

{% block content %}

<article class="single">
  <header>
    <h1 id="{{ article.slug }}">{{ article.title }}</h1>
    <p>
      {{ _('Posted on %(when)s in %(category)s',
           when=article.locale_date,
           category='<a href="%s/%s">%s</a>'|format(SITEURL, article.category.url, article.category)|safe) }}

      {% if 'post_stats' in PLUGINS %}
        &#8226; {{ article.stats['read_mins'] }} min read
      {% endif %}
    </p>
  </header>

  {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_top %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ads-responsive"
         data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
         data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_top }}"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% endif %}

  <div>

    <!-- Mailjet -->

    <data data-token="25119b9c747c0fd253316a997703757e" class="mj-w-data" data-apikey="2Nqj" data-w-id="5ih" data-lang="fr_FR" data-base="https://app.mailjet.com" data-width="640" data-height="410" data-statics="statics"></data>

    <div class="mj-w-button mj-w-btn" data-token="25119b9c747c0fd253316a997703757e" style="font-family: Ubuntu, Helvetica; color: white; padding: 0 25px; background-color: #f0622b; text-align: center; vertical-align: middle; display: inline-block; border-radius: 3px; margin: 0 auto;">
        <div style="display: table; height: 45px;">
            <div style="display: table-cell; vertical-align: middle;">
                <div class="mj-w-button-content" style="font-family:Ubuntu, Helvetica; display: inline-block; text-align: center; font-size: 13px; vertical-align: middle;"><b>ABONNEZ-VOUS À LA NEWSLETTER !</b></div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://app.mailjet.com/statics/js/widget.modal.js"></script>

    <!-- End Mailjet -->

    {{ article.content }}
  </div>



  <div class="tag-cloud">
    <p>
      {% if article.tags %}
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
      {% endfor %}
      {% endif %}
    </p>
  </div>

  {% if ADD_THIS_ID %}
  <div class="center social-share">
    <p>{{ _('Like this article? Share it with your friends!') }}</p>
    <div class="addthis_native_toolbox"></div>
    <div class="addthis_sharing_toolbox"></div>
    <div class="addthis_inline_share_toolbox"></div>
  </div>
  {% endif %}

  {% if article.related_posts %}
  <div class="related-posts">
    <h4>{{ _('You might enjoy') }}</h4>
    <ul class="related-posts">
    {% for related_post in article.related_posts %}
      <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_bottom %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ads-responsive"
         data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
         data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_bottom }}"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% endif %}

  {% include "partial/disqus.html" %}
</article>
{% endblock %}
